<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="compdir" value="C:\UBS Software\UBSBSM92"/>
    <add key="compname" value="MC MONTE BAYU CONDOMINIUM"/>
    <add key="datespan" value="7"/>
    <add key="uuid" value="ff2be075-5771-11ea-88a3-02767c95cad8"/>
    <add key="api" value="http://localhost:3000/external-bill"/>
    <add key="payments" value="http://localhost:3000/adyen-payment"/>
    <add key="receipts" value="http://localhost:3000/import-receipts"/>
  </appSettings>
</configuration>