<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="compdir" value="C:\UBS Software\UBSBSM92"/>
    <add key="compname" value="MC MONTE BAYU CONDOMINIUM"/>
    <add key="datespan" value="7"/>
    <add key="uuid" value="45ccc965-27ff-4bc9-a410-2bec64f49904"/>
    <add key="api" value="https://dhome-api-prod.dhome.io/v1.0/external-bill"/>
    <add key="payments" value="https://dhome-api-prod.dhome.io/v1.0/adyen-payment"/>
    <add key="receipts" value="https://dhome-api-prod.dhome.io/v1.0/import-receipts"/>
    <add key="logs" value="https://dhome-api-prod.dhome.io/v1.0/billexport-log"/>
    <add key="target" value="C:\ubs_local_agents_x86"/>
  </appSettings>
</configuration>